@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup>
    <h1 class="error" style="color: #666666;">Oops!!</h1>
    <h2 class="error">@Resources.Error.MessageError :(</h2>
    <h4>@Resources.Error.DescriptionError</h4>
</hgroup>
