@{
    ViewBag.Title = Resources.About.Title;
}
<hgroup class="title">
    <h1>@Resources.About.Title</h1>
    <h2>@Resources.Shared.AppName</h2>
</hgroup>
<article>
    <p>
        
    </p>
</article>
